In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('Housing_1.csv')
df.head()

,Unnamed: 0,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [3]:
df.columns

Index(['Unnamed: 0', 'price', 'area', 'bedrooms', 'bathrooms', 'stories',
       'mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [4]:
X = df.drop(columns=['Unnamed: 0', 'price'])
y = df['price']

In [15]:
from sklearn.ensemble import ExtraTreesRegressor

In [16]:
etc = ExtraTreesRegressor() 
etc.fit(X, y)

ExtraTreesRegressor()

In [17]:
etc.feature_importances_

array([0.22982044, 0.05194119, 0.20152535, 0.05523463, 0.02634912,
       0.03360736, 0.03829318, 0.01965108, 0.15323771, 0.07350411,
       0.05528452, 0.06155132])

In [18]:
pd.Series(etc.feature_importances_, index=X.columns).nlargest(8)

area                0.229820
bathrooms           0.201525
airconditioning     0.153238
parking             0.073504
furnishingstatus    0.061551
prefarea            0.055285
stories             0.055235
bedrooms            0.051941
dtype: float64

In [19]:
from sklearn.tree import DecisionTreeRegressor
dtc = DecisionTreeRegressor() 
dtc.fit(X, y)
pd.Series(dtc.feature_importances_, index=X.columns).nlargest(8)

area                0.467026
bathrooms           0.160309
airconditioning     0.068864
parking             0.053452
furnishingstatus    0.051609
basement            0.046695
bedrooms            0.038836
stories             0.034874
dtype: float64