In [1]:
import pandas as pd 
df = pd.read_csv('housing_data.csv')
df.head()

           id             date   price  bedrooms  bathrooms  ...  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900         3       1.00  ...    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000  538000         3       2.25  ...    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000  180000         2       1.00  ...    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000  604000         4       3.00  ...    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000  510000         3       2.00  ...    98074  47.6168 -122.045           1800        7503

[5 rows x 21 columns]

### Data Preprocessing

In [2]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [3]:
X = df.drop(columns = ['id', 'date', 'price'])
y = df['price']

### Train Test Split

In [6]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 64)

### Model Development

In [8]:
from sklearn.ensemble import RandomForestRegressor 
reg = RandomForestRegressor()
reg.fit(X_train, y_train)

RandomForestRegressor()

### Model Evaluation

In [12]:
from sklearn.metrics import mean_absolute_error 
y_pred_train = reg.predict(X_train)
mean_absolute_error(y_train, y_pred_train)

26824.804924137534

In [13]:
y_pred_test = reg.predict(X_test)
mean_absolute_error(y_test, y_pred_test)

70079.32327987444

### Finding the SUitable Parameters

In [56]:
from sklearn.model_selection import GridSearchCV 
parameters = {'n_estimators': [90,95], 
             'max_depth': [22, 24],
              'max_features': [13, 14],
              'max_leaf_nodes': [68, 72, 74]
             }
reg1 = RandomForestRegressor()
reg1 = GridSearchCV(reg1, parameters)

In [57]:
reg1.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestRegressor(),
             param_grid={'max_depth': [22, 24], 'max_features': [13, 14],
                         'max_leaf_nodes': [68, 72, 74],
                         'n_estimators': [90, 95]})

In [58]:
y_pred_train = reg1.predict(X_train)
mean_absolute_error(y_train, y_pred_train)

78717.90866579323

In [59]:
y_pred_test = reg1.predict(X_test)
mean_absolute_error(y_test, y_pred_test)

85795.52786092207

In [60]:
reg1.best_params_

{'max_depth': 22, 'max_features': 13, 'max_leaf_nodes': 72, 'n_estimators': 95}