In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('Housing_1.csv')
df.head()

,Unnamed: 0,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [17]:
df.columns

Index(['Unnamed: 0', 'price', 'area', 'bedrooms', 'bathrooms', 'stories',
       'mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [18]:
X = df.drop(columns = ['Unnamed: 0', 'price'])
y = df.price

In [19]:
import statsmodels.api as sm

In [20]:
model = sm.OLS(y, X).fit() 
model.pvalues

area                2.235403e-23
bedrooms            2.639660e-02
bathrooms           6.177490e-21
stories             6.265458e-12
mainroad            6.061897e-04
guestroom           2.505975e-02
basement            1.035084e-03
hotwaterheating     1.017555e-04
airconditioning     1.910627e-14
parking             2.476145e-06
prefarea            3.916950e-08
furnishingstatus    3.919235e-04
dtype: float64

In [12]:
selected_features = list(X.columns)
selected_features

['area',
 'bedrooms',
 'bathrooms',
 'stories',
 'mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'parking',
 'prefarea',
 'furnishingstatus']

In [29]:
pmax = 1 
while (len(selected_features)>0):
    model = sm.OLS(y, X).fit()
    p = model.pvalues
    pmax = max(p)
    feature_pmax = p.idxmax() #index of the highest p-value
    if(pmax > 0.01):
        selected_features.remove(feature_pmax)
        X = X[selected_features]
    else:
        break 
selected_features

['area',
 'bathrooms',
 'stories',
 'mainroad',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'parking',
 'prefarea',
 'furnishingstatus']